[system.startup]
    registering_guilds=true

[guilds]
    [guilds.server_id]

        [guilds.server_id.roles.Administrateur]
        id = role_id
        # selectable=false # default case

        [guilds.server_id.roles."Modérateur"]
        id = role_id
        emoji_id=emoji_id

        [guilds.server_id.roles."Gestion Association"]
        id = role_id
        emoji_id = emoji_id

        [guilds.server_id.roles."Référent CPGE"]
        id=role_id
        selectable=false
        emoji_id=emoji_id

        [guilds.server_id.roles."Référent École"]
        id=role_id
        selectable=false
        emoji_id=emoji_id

        [guilds.server_id.roles.MPI]
        id=role_id
        selectable=true
        emoji_id=emoji_id

        [guilds.server_id.roles.MP2I]
        id=role_id
        selectable=true
        emoji_id=emoji_id

        [guilds.server_id.roles.Prof]
        id=role_id
        selectable=true
        emoji_id=emoji_id

        [guilds.server_id.roles."Intégré"]
        id=role_id
        selectable=true
        emoji_id=emoji_id

        [guilds.server_id.roles."Diplômé"]
        id=role_id
        selectable=true
        emoji_id=emoji_id

        [guilds.server_id.roles."Infiltré"]
        id=role_id
        selectable=true
        emoji_id=emoji_id

        [guilds.server_id.roles."Lycéen"]
        id=role_id
        selectable=true
        emoji_id=emoji_id

        [guilds.server_id.roles."Ex MPI"]
        id=role_id
        selectable=true
        emoji_id=emoji_id

        [guilds.server_id.logs]
        channel = channel_id
        blacklist = [
            channel_id,
            channel_id
        ]

        [guilds.server_id.sanctions]
        channel = channel_id

        [guilds.server_id.suggestions]
        channel = channel_id

        [guilds.server_id.tickets]
        channel = channel_id
        max = max_desired

        [guilds.server_id.promotions]
        # number of school that a user can joined at most
        max = max_promotions

        [guilds.server_id.pins]
        emoji=emoji
        minimum = min_emojis
        channel = channel_id
