[guilds]
    [guilds.server_id]

        [guilds.server_id.roles.Administrateur]
        id = role_id

        [guilds.server_id.roles."Modérateur"]
        id = role_id

        [guilds.server_id.logs]
        channel = channel_id
        blacklist = [
            channel_id,
            channel_id
        ]

        [guilds.server_id.sanctions]
        channel = channel_id

        [guilds.server_id.tickets]
        channel = channel_id
        max = max_desired

        [guilds.server_id.promotions]
        # number of school that a user can joined at most
        max = max_promotions
